.panel, .panel-body, .h5 {
  padding: 0; }

.panel, .h5 {
  margin: 0; }

.panel-heading {
  padding: 5px; }

.panel-title {
  display: inline; }

#table-title-span, #table-title-units {
  padding-left: 1em; }

.row {
  margin: 3px 0 0 0; }

.table {
  margin-bottom: 0; }

.table > tbody > tr > td {
  padding: 4px; }

label {
  font-weight: normal !important; }

#btnAbout, #btnHelp {
  float: right;
  margin: 0 5px; }

#div_busy {
  /* left, top in eventManager.js */
  position: absolute;
  width: 250px;
  height: 75px;
  z-index: 101;
  border: 0;
  background-color: transparent; }

#img_busy {
  background-image: url(../images/BigLoader.gif);
  background-position: center top;
  height: 50px;
  background-repeat: no-repeat;
  background-color: transparent; }

.ui-widget.ui-widget-content {
  border: 1px solid #ddd; }

#tabsMain {
  margin-bottom: 2px; }

#paneCriterias, #paneTimeSeries {
  padding: 0; }

#formCriterias > div, #formTimeSeries > div {
  display: table;
  padding: 3px;
  width: 100%; }
  #formCriterias > div > div, #formTimeSeries > div > div {
    display: table-row; }
  #formCriterias > div > div > div, #formTimeSeries > div > div > div {
    display: table-cell;
    text-align: center;
    padding: 3px; }
  #formCriterias > div > div:nth-child(odd) > div, #formTimeSeries > div > div:nth-child(odd) > div {
    font-weight: bold;
    padding-top: 4px; }
  #formCriterias > div > div:nth-child(even) > div, #formTimeSeries > div > div:nth-child(even) > div {
    font-weight: normal;
    padding-bottom: 4px; }
  #formCriterias > div #lboEndYear:disabled, #formTimeSeries > div #lboEndYear:disabled {
    color: lightgray; }
  #formCriterias > div #lboEndYear:not(:disabled), #formTimeSeries > div #lboEndYear:not(:disabled) {
    color: black; }
  #formCriterias > div #lboEndMonth:disabled, #formTimeSeries > div #lboEndMonth:disabled {
    color: lightgray; }
  #formCriterias > div #lboEndMonth:not(:disabled), #formTimeSeries > div #lboEndMonth:not(:disabled) {
    color: black; }

#formCriterias > div:nth-child(2) {
  border-top: 1px solid silver; }

#MOdivTableResults, #TSdivTableResults {
  max-height: 3in;
  overflow: auto; }
  #MOdivTableResults table, #TSdivTableResults table {
    border-collapse: collapse;
    width: 100%; }
  #MOdivTableResults tr:nth-child(even), #TSdivTableResults tr:nth-child(even) {
    background-color: #f2f2f2; }
  #MOdivTableResults th, #TSdivTableResults th {
    text-align: center;
    border-right: 1px solid #ddd; }
  #MOdivTableResults td, #TSdivTableResults td {
    font-weight: normal;
    border-right: 1px solid #ddd; }

#MOdivGraphResults, #TSdivGraphResults {
  margin: 0 0.5in;
  font-weight: normal;
  font-size: smaller;
  /*.browser text {
      text-anchor: middle;
  }*/ }
  #MOdivGraphResults .axis text, #TSdivGraphResults .axis text {
    font: 12px sans-serif; }
  #MOdivGraphResults .axis path,
  #MOdivGraphResults .axis line, #TSdivGraphResults .axis path,
  #TSdivGraphResults .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges; }
  #MOdivGraphResults .axis text, #TSdivGraphResults .axis text {
    font-weight: bold;
    text-anchor: end;
    /*fill: red;*/ }
  #MOdivGraphResults .pane, #TSdivGraphResults .pane {
    fill: white; }
  #MOdivGraphResults .zoom, #TSdivGraphResults .zoom {
    cursor: move;
    fill: none;
    pointer-events: all; }
  #MOdivGraphResults .graphTitle, #TSdivGraphResults .graphTitle {
    font-size: larger;
    font-weight: bold;
    padding-bottom: 10px; }

.barchart {
  fill: steelblue; }
  .barchart :hover {
    fill: brown; }
  .barchart text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: middle; }

svg text.label {
  font: 16px;
  font-weight: 400; }

/*.row.rowLegend {
    margin: 0;    
}*/
#divLegend {
  display: table;
  border-collapse: collapse;
  width: 99%; }
  #divLegend > div {
    display: table-cell;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    font-size: 80%;
    width: 14.25%;
    border: 1px solid silver; }

#panelMap .panel-heading {
  padding: 0 5px 0 0; }

#panelBodyMap, #divMap {
  min-height: 6in; }

#divMapTitle {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10; }

#HomeButton {
  position: absolute;
  top: 92px;
  left: 22px;
  z-index: 10; }

.btnExpandReduce {
  position: absolute;
  z-index: 9;
  right: 5px;
  top: 5px; }

/*# sourceMappingURL=SG_main.css.map */
