<div id="formTimeSeries">
    <div>
        <div>
            <div>Start Year</div>
            <div>Start Month</div>
            <div>End Year</div>
            <div>End Month</div>
            <div>Region</div>
        </div>
        <div>
            <div>
                <select id="lboStartYear"></select>
            </div>
            <div>
                <select id="lboStartMonth"></select>
            </div>
            <div>
                <select id="lboEndYear"></select>
            </div>
            <div>
                <select id="lboEndMonth"></select>
            </div>
            <div>
                <select id="lboRegionTS">
                    <option value="6" selected>National</option>
                    <option value="4">Pacific</option>
                    <option value="5">Prairie</option>
                    <option value="2">Central</option>
                    <option value="1">Atlantic</option>
                    <option value="3">Yukon/NWT</option>
                </select>
            </div>
            <div>
                <button id="btnGOTS">GO</button>
            </div>
        </div>
    </div>
</div>
