<div id="formCriterias">
    <div>
        <div>
            <div>Year</div>
            <div>Month</div>
            <div>Region</div>
            <div>Area</div>
        </div>
        <div>
            <div>
                <select id="lboYear"></select>
            </div>
            <div>
                <select id="lboMonth"></select>
            </div>
            <div>
                <select id="lboRegion">
                    <option value="6">National</option>
                    <option value="4">Pacific</option>
                    <option value="5" selected>Prairie</option>    
                    <option value="2">Central</option>
                    <option value="1">Atlantic</option>
                    <option value="3">Yukon/NWT</option>
                </select>
            </div>
            <div>
                <select id="lboArea" disabled style="color: grey;">
                    <option value="Can" selected>Full Extent</option>
                    <option value="Ext">Agriculture Extent</option>
                </select>
            </div>
        </div>
    </div>
    <div>
        <div>
            <div>Data Aggregation</div>
            <div>Statistic</div>
            <div>Variable</div>
            <div>Graph</div>
            <div></div>
        </div>
        <div>
            <div>
                <select id="lboAggregation">
                    <option value="Cum">Cumulative</option>
                    <option value="Categ" selected>Categorical</option>
                </select>
            </div>
            <div>
                <select id="lboStatistic">
                    <option value="Pct">Percentage</option>
                    <option value="Cnt" selected>Count</option>
                </select>
            </div>
            <div>
                <select id="lboVariable">
                    <option value="Area" selected>Land Area</option>
                    <option value="PopTotal">Population</option>
                    <option value="Farms">Farms</option>
                    <option value="Cattle">Head of cattle</option>
                    <option value="Pasture">Pasture</option>
                    <option value="FieldCrops">Field Crops</option>
                    <option value="ForageCrops">Forage Crops</option>
                </select>
            </div>
            <div>
                <select id="lboChart">
                    <option value="LineChart" disabled>Line Chart</option>
                    <option value="AreaChart" disabled>Area Chart</option>
                    <option value="BarChart"  selected>Bar Chart</option>
                    <option value="PieChart">Pie Chart</option>
                </select>
            </div>
            <div>
                <button id="btnGO">GO</button>
            </div>
        </div>
    </div>
</div>
